.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-content {
  height: 60%;
  width: clamp(800px, 50%, 1200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
